@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --orange : #d95024;
    --oranger-hover : #c44820;
    --dark-grey : #333333;
    --light-grey : rgb(242, 242, 242);
    --white : #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Konkhmer', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.terms-rates {
    background-color: var(--orange);
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    .button {

        .terms-btn {
            padding: 6px 12px;
            border-radius: 5px;
            margin-left: 15px;
            border: none;
            cursor: pointer;
            font-size: 13px;
            background-color: var(--oranger-hover);
            border: .5px solid var(--white);
            font-weight: 600;
            color: var(--white);
        }

        .terms-btn:hover {
            background-color: var(--oranger-hover);
            color: var(--white);
        }

    }

    .text {

        .terms {
            color: var(--white);
            font-size: 14px;
        }

    }

}

.navbar-body {
    z-index: 999;
    display: grid;
    padding: 0 10%;
    grid-template-columns: 300px 1fr;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
    
    .logo {
        display: flex;
        padding: 20px 0;
        justify-content: start;
        align-items: center;
    }

    .navbar-list {

        display: flex;
        align-items: center;
        justify-content: end;

        a {
            font-size: 18px;
            padding-left: 30px;
            color: #000;
        }

        .dropmenu:hover {
            .dropdown {
                display: block;
                
                    li a:hover {
                        color: var(--orange);
                    }
                
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            z-index: 999;
            padding-top: 34px;
            margin-left: 25px;

            li {
                display: block;
                padding: 15px 0;
                padding-right: 28px;
                background-color: var(--light-grey);
                box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
            }
        }

        .dropmenu2:hover {
            .dropdown2 {
                display: block;
                
                    li a:hover {
                        color: var(--orange);
                    }
                
            }
        }

        .dropdown2 {
            display: none;
            position: absolute;
            z-index: 999;
            padding-top: 34px;
            margin-left: 25px;

            li {
                display: block;
                padding: 15px 0;
                padding-right: 28px;
                background-color: var(--light-grey);
                box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
            }
        }

    }
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90px 10%;

    .banner-image {

        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 80%;
            border-radius: 35px;
            box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, .12);
        }

    }

    .banner-content {

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: 'Konkhmer Sleokchher', cursive;
                font-size: 35px;
                color: var(--orange);
            }

            p {
                line-height: 25px;
                font-weight: 350;
                padding: 10px 0;
            }

            ul {
                li {
                    line-height: 25px;
                    font-weight: 400;
                    padding: 10px 0;
                }
            }
        }
    }
}

.main-banner {
    // padding-top: 2px;
    height: 60vh;
    background: url("/assets/image/download.jpg"); 
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
    }
}

.main-footer {
    display: flex;
    background-color: var(--dark-grey);
    padding: 20px 0;
    justify-content: center;
    align-items: center;

    span {
        color: var(--white);
        font-size: 18px;
    }
}

.banner2 {
    background-color: var(--light-grey);
}